* {
    font-size: 16px;
    font-family: monospace;
}

body {
    height: 100vh;
    background-color: #F3F3FB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 40%;
    height: 60%;
    margin: 2rem;
    padding: 2rem;
    background-color: white;
    border-radius: 20px;
    display: inherit;
    justify-content: inherit;
    flex-direction: column;
}

.btn-container {
    width: 100%;
    display: inherit;
    justify-content: center;
}

#submit {
    font-size: 1.15rem;
    width: 12rem;
    height: 4rem;
    color: #FFFFFF;
    background-color: #171736;
    border-radius: 30px;
    cursor: pointer;
}